.introduce-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
    background-color: #f0f0f0; 
    padding: 20px; 
}

.introduce-card {
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
    width: 90%; 
    max-width: 100%; 
    min-height: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.introduce-card h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.introduce-card h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 16px;
}

.info {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    margin-top: 20px;
}

.info p {
    margin-bottom: 10px;
}

.info strong {
    font-weight: bold;
    color: blue;
}

.info a {
    color: blue;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}

.image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
}

.info h1 {
    color: blue;
}



.info h2{
    font-weight: bold;

}